function Memory.init 0
push constant 2048
pop static 0
push constant 14335
pop static 1
push static 0
push constant 2
add
pop static 2
push constant 0
push static 2
add
push static 1
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 1
push argument 0
pop local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
return
function Memory.poke 1
push argument 0
pop local 0
push constant 0
push local 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 8
push static 2
push constant 0
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label IF_FALSE0
push argument 0
push constant 1
add
pop argument 0
push static 2
pop local 3
push static 2
pop local 5
push constant 0
push local 3
add
pop pointer 1
push that 0
pop local 1
push local 3
pop local 0
push local 5
pop local 2
label WHILE_EXP0
push local 3
push constant 0
gt
not
if-goto WHILE_END0
push constant 0
push local 3
add
pop pointer 1
push that 0
pop local 4
push local 4
push argument 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push local 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
pop local 1
push local 3
pop local 0
push local 5
pop local 2
label IF_FALSE2
label IF_FALSE1
push local 3
pop local 5
push constant 1
push local 3
add
pop pointer 1
push that 0
pop local 3
goto WHILE_EXP0
label WHILE_END0
push local 1
push argument 0
sub
pop local 7
push local 7
push constant 1
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push argument 0
add
pop local 6
push constant 1
push local 6
add
push constant 1
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 6
add
push local 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END3
label IF_FALSE3
push constant 1
push local 0
add
pop pointer 1
push that 0
pop local 6
label IF_END3
push local 2
push local 0
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
push local 2
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END4
label IF_FALSE4
push local 6
pop static 2
label IF_END4
push constant 0
push local 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
return
function Memory.deAlloc 6
push static 2
pop local 3
push static 0
pop local 4
push constant 0
pop local 5
label WHILE_EXP0
push local 3
push constant 0
gt
push local 5
not
and
not
if-goto WHILE_END0
push local 3
push argument 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 5
goto IF_END0
label IF_FALSE0
push local 3
pop local 4
push constant 1
push local 3
add
pop pointer 1
push that 0
pop local 3
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push argument 0
push constant 1
sub
pop local 0
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 0
push local 1
add
push local 3
lt
not
push local 3
push constant 0
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 0
push local 3
add
pop pointer 1
push that 0
add
pop local 1
push constant 1
push local 3
add
pop pointer 1
push that 0
pop local 2
goto IF_END1
label IF_FALSE1
push local 3
pop local 2
label IF_END1
push local 4
push constant 0
push local 4
add
pop pointer 1
push that 0
add
push local 0
lt
not
push local 4
push static 0
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push local 4
add
push constant 0
push local 4
add
pop pointer 1
push that 0
push local 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 4
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
label IF_FALSE2
push local 4
push static 0
gt
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
pop static 2
goto IF_END3
label IF_FALSE3
push constant 1
push local 4
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END3
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
