push constant 30000
push constant -20000
lt //0
push constant 30000
push constant 20000
lt // 0
push constant -30000
push constant 20000
lt // -1
push constant -30000
push constant -20000
lt // -1
push constant 30000
push constant -20000
gt // -1
push constant 30000
push constant 20000
gt // -1
push constant -30000
push constant 20000
gt // 0
push constant -30000
push constant -20000
gt // 0
push constant 30000
push constant -20000
eq // 0
push constant 30000
push constant 20000
eq // 0
push constant -30000
push constant 20000
eq // 0
push constant -30000
push constant -20000
eq // 0
push constant -30000
push constant -30000
eq // -1
push constant 30000
push constant 30000
eq // -1
push constant 0
push constant 0
eq // -1


push constant 50
push constant 0
gt // -1
push constant 0
push constant 50
gt // 0
push constant -50
push constant 0
gt // 0
push constant 0
push constant -50
gt // -1
push constant 50
push constant 0
lt // 0
push constant 0
push constant 50
lt // -1
push constant -50
push constant 0
lt // -1
push constant 0
push constant -50
lt // 0
push constant 50
push constant 0
eq // 0
push constant 0
push constant 50
eq // 0
push constant -50
push constant 0
eq // 0
push constant 0
push constant -50
eq // 0

